[project]
name = "20251021-desafio-tecnico-ingestao-busca-semantica-langchain-postgres"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []
